
# Создано https://www.toptal.com/developers/gitignore/api/django
# Отредактируйте на https://www.toptal.com/developers/gitignore?templates=django

### Джанго ###
*.бревно
*.горшок
* .pyc
__pycache __ /
local_settings.py
db.sqlite3
db.sqlite3-journal
СМИ

# Если ваш процесс сборки включает запуск collectstatic, то вам, вероятно, не нужно или вы не хотите включать staticfiles /
# в вашем репозитории Git. Обновите и раскомментируйте следующую строку соответствующим образом.
# <django-project-name> / staticfiles /

### Стек Django.Python ###
# Байт-скомпилированные / оптимизированные / DLL файлы
* .py [треска]
* $ py.class

# Расширения C
*.так

# Распространение / упаковка
.Python
строить/
развивающиеся яйца /
dist /
загрузки /
яйца /
.eggs /
lib /
lib64 /
части /
sdist /
var /
колеса /
поделиться / python-wheels /
* .egg-info /
.installed.cfg
*.яйцо
МАНИФЕСТ

# PyInstaller
# Обычно эти файлы пишутся скриптом python из шаблона
# перед тем, как PyInstaller создаст exe, чтобы добавить в него дату / другую информацию.
* .manifest
* .spec

# Журналы установщика
pip-log.txt
pip-delete-this-directory.txt

# Модульные тесты / отчеты о покрытии
htmlcov /
.tox /
.nox /
.coverage
.coverage. *
.cache
Nosetests.xml
охват .xml
*.крышка
* .py, обложка
.гипотеза /
.pytest_cache /
крышка/

# Перевод
* .mo

# Django вещи:

# Материал фляги:
пример/
.webassets-кеш

# Scrapy материал:
.scrapy

# Документация Sphinx
документы / _build /

# PyBuilder
.pybuilder /
цель/

# Блокнот Jupyter
.ipynb_checkpoints

# IPython
profile_default /
ipython_config.py

# pyenv
# Для библиотеки или пакета вы можете игнорировать эти файлы, так как код
# предназначен для работы в нескольких средах; в противном случае отметьте их:
# .python-версия

# pipenv
# Согласно pypa / pipenv # 598, рекомендуется включить Pipfile.lock в систему контроля версий.
# Однако в случае сотрудничества, если у вас есть зависимости или зависимости, зависящие от платформы
# не имея кроссплатформенной поддержки, pipenv может устанавливать зависимости, которые не работают или не работают
# установить все необходимые зависимости.
# Pipfile.lock

# PEP 582; используется, например, github.com/David-OConnor/pyflow
__pypackages __ /

# Сельдерей
celerybeat-расписание
celerybeat.pid

# SageMath проанализировал файлы
* .sage.py

# Среды
.env
.venv
env /
Venv /
ENV /
env.bak /
venv.bak /

# Настройки проекта Spyder
.spyderproject
.spyproject

# Настройки проекта веревки
.ropeproject

# mkdocs documentation
/сайт

# mypy
.mypy_cache /
.dmypy.json
dmypy.json

# Проверка типов Pyre
.pyre /

# анализатор статического типа pytype
.pytype /

# Символы отладки Cython
cython_debug /

.idea/
.idea

# Конец https://www.toptal.com/developers/gitignore/api/django